In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,El Dorado,38.7666,-120.5177,88.79,21,0,1.99,US,2022-06-15 20:57:51
1,1,Cayon,17.3500,-62.7333,85.24,74,20,12.66,KN,2022-06-15 20:57:51
2,2,Punta Arenas,-53.1500,-70.9167,44.71,65,75,29.93,CL,2022-06-15 20:57:28
3,3,Port Alfred,-33.5906,26.8910,53.83,72,59,19.82,ZA,2022-06-15 20:57:51
4,4,Rikitea,-23.1203,-134.9692,72.79,70,59,6.58,PF,2022-06-15 20:57:52

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,El Dorado,38.7666,-120.5177,88.79,21,0,1.99,US,2022-06-15 20:57:51
1,1,Cayon,17.3500,-62.7333,85.24,74,20,12.66,KN,2022-06-15 20:57:51
11,11,Keti Bandar,24.1447,67.4497,83.30,80,71,16.49,PK,2022-06-15 20:57:54
16,16,Hyeres,43.1167,6.1167,81.25,78,0,0.00,FR,2022-06-15 20:57:55
17,17,Butaritari,3.0707,172.7902,81.93,68,88,12.55,KI,2022-06-15 20:57:56
22,22,Areia Branca,-4.9561,-37.1369,84.40,71,6,13.60,BR,2022-06-15 20:57:57
23,23,Avarua,-21.2078,-159.7750,80.65,74,75,13.80,CK,2022-06-15 20:57:58
26,26,Hami,42.8000,93.4500,84.72,20,100,10.33,CN,2022-06-15 20:57:58
32,32,Kapaa,22.0752,-159.3190,82.11,73,8,4.00,US,2022-06-15 20:58:00
33,33,Puerto Ayora,-0.7393,-90.3518,80.56,86,47,8.01,EC,2022-06-15 20:58:00

In [10]:
preferred_cities_df.count()

City_ID       159
City          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
Country       159
Date          159
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      El Dorado      US     88.79  38.7666 -120.5177
1          Cayon      KN     85.24  17.3500  -62.7333
11   Keti Bandar      PK     83.30  24.1447   67.4497
16        Hyeres      FR     81.25  43.1167    6.1167
17    Butaritari      KI     81.93   3.0707  172.7902
22  Areia Branca      BR     84.40  -4.9561  -37.1369
23        Avarua      CK     80.65 -21.2078 -159.7750
26          Hami      CN     84.72  42.8000   93.4500
32         Kapaa      US     82.11  22.0752 -159.3190
33  Puerto Ayora      EC     80.56  -0.7393  -90.3518

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,El Dorado,US,88.79,38.7666,-120.5177,South Fork Group Campground
1,Cayon,KN,85.24,17.3500,-62.7333,Ottley's Plantation Inn
11,Keti Bandar,PK,83.30,24.1447,67.4497,Haji laloo memon house
16,Hyeres,FR,81.25,43.1167,6.1167,ibis budget Hyères Centre-Ville
17,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge
22,Areia Branca,BR,84.40,-4.9561,-37.1369,Areia Branca Apart Hotel
23,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
26,Hami,CN,84.72,42.8000,93.4500,Laoyutang Resort
32,Kapaa,US,82.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
33,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))