## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Reading the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Martapura,ID,80.69,scattered clouds,-3.4167,114.8500,Montana Hotel Syariah
1,2,Atuona,PF,78.13,clear sky,-9.8000,-139.0333,Villa Enata
2,14,Sindgi,IN,79.81,overcast clouds,16.9167,76.2333,Sasabal
3,21,Makaha,US,81.73,scattered clouds,21.4694,-158.2175,Hawaiian Princess Resort
4,25,Raxaul,IN,86.32,scattered clouds,26.9833,84.8500,R S Residency

In [6]:
# Using the template add the city name, the country code, the weather description and maximum temperature for the city
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Getting the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Getting the latitude and longitude from each row and store in a new DataFrame
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# Adding a marker layer for each city to the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Displaying the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Picking 4 cities and creating a vacation itinerary route to travel between the four cities
# Creating DataFrames for each city by filtering the 'vacation_df' using the loc method 

vacation_start = vacation_df.loc[vacation_df["City"] == "Boromo"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Boromo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Buchanan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Tabou"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Axim"]

In [20]:
# Getting the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [22]:
# Creating a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints
fig = gmaps.figure()
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Creating a marker layer map between the four cities
# Combining the four city DataFrames into one DataFrame using the concat() function
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,380,Boromo,BF,76.89,overcast clouds,11.7500,-2.9333,Sama Camp
1,672,Buchanan,LR,76.30,moderate rain,5.8808,-10.0467,Kamaneahn Hotel Inc
2,150,Tabou,CI,75.79,moderate rain,4.4230,-7.3528,hotÃªl doufoulougou
3,493,Axim,GH,75.20,light rain,4.8699,-2.2405,Axim Beach Resort And Spa

In [24]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Getting the data from each row and adding it to the formatting template and storing the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Getting the latitude and longitude from each row and storing in a new DataFrame
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# Adding a marker layer for each city to the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Displaying the figure
fig

Figure(layout=FigureLayout(height='420px'))